<launch>
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
    <!-- 地图的分辨率（米） -->
    <param name="resolution" value="0.50" />

    <!-- 最大距离/深度分辨率（米） -->
    <param name="sensor_model/max_range" value="10" />
    
    <param name="latch" value="true" />

    <!-- max/min height for occupancy map, should be in meters -->
    <!-- octomap地图中最大最小的高度（米） -->
    <param name="pointcloud_max_z" value="5" />
    <param name="pointcloud_min_z" value="0.1" />

    <!-- 增量式构建地图时，需要提供输入的点云帧和静态全局帧之间的 TF 变换 -->
    <param name="frame_id" type="string" value="camera_init" />
    <!-- <param name="frame_id" type="string" value="world" /> -->

    <!-- 要订阅的点云主题名称 /laser_cloud_map -->
    <remap from="/cloud_in" to="/laser_cloud_map" />
    
  </node>
</launch>
